<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"
        integrity="sha512-t38vG/f94E72wz6pCsuuhcOPJlHKwPy+PY+n1+tJFzdte3hsIgYE7iEpgg/StngunGszVMrRfvwZinrza0vMTA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Digital Card</title>

</head>

<body>
    <div class="container">
        <ul style="display: inline; text-decoration:none; list-style-type: none;">
            <li style="float: left; margin-right:10px; "><a href="/">Home page |</a></li>
            <li style="float: left; margin-right:10px;"><a href="/login">login |</a></li>
            <li style="float: left;"><a href="/franchise-login">franchise Login</a></li>
        </ul>
        {{{body}}}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
        integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
        crossorigin="anonymous"></script>
</body>

</html>