<div class="row">
    <div class="input-field col s12">
        <input placeholder="Mobile Number" id="mobile_number" type="text" class="validate">
        <label for="mobile_number">Mobile Number</label>
    </div>
</div>